.basket {
    display: flex;
    gap: 30px;
    min-height: 400px;

}

.info {
    display: grid;
    grid-template-columns: 75px 1fr 1fr 1fr 1fr 60px;
    text-align: center;
    font-weight: 600;

    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 20px;
}

.info p {
    margin: 0;
}

.products {
    grid-column: 1
}

.price {
    grid-column: 3;
}

.cart_total {
    flex-shrink: 0;
    width: 280px;
}

.total_detail {
    background-color: var(--color-bg);
    height: 300px;
    border-radius: 7px;
}

.empty {
    min-height: 400px;
}

@media (max-width: 1023px) {
    .basket {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 767px) {}