.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: var(--color-text);
    padding: 10px;
    position: relative;
}

.nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    background-color: var(--color-green);
    transform: scale(0);
    transition: all ease 0.4s;
}

.nav a:hover::before {
    transform: scale(1);
}

.nav .active {
    color: var(--color-green);
}

.menu_icon {
    display: none;
}

.mob_logo {
    display: none;
}

.mob_info {
    display: none;
}


@media (max-width: 768px) {

    .menu_icon {
        display: block;
        margin: 0 20px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 280px;

        background-color: #fff;
        padding: 20px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 200;

        flex-direction: column;
        overflow: auto;
    }

    .nav.open {
        transform: translateX(0%);

    }

    .nav a:hover::before {
        transform: scale(0);
    }

    .mob_logo {
        display: block;
    }

    .mob_info {
        display: block;
        padding-top: 10px;
        border-top: 1px solid var(--color-green);
        margin-top: 10px;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        color: var(--color-light-gray);
    }

    .menu_backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 199;
        transition: opacity 0.5s ease;
        opacity: 0;
        pointer-events: none;
    }

    .menu_backdrop.open {
        pointer-events: auto;
        opacity: 1;
    }
}