.main_categories_wrap {
    margin: 20px 0;
}

.info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.info h2 {
    font-size: 1.5rem;
}

.categories {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.categories>div {
    width: 25%;
}


@media (max-width: 768px) {
    .categories {
        flex-direction: column;
    }

    .categories>div {
        width: 100%;
    }
}